
body {
    background-color: #E8E8E8;
}

h5 {
    color: #5C5C5C;
}

#wrap-nav{
    background-color: #3C3C3C;
}

#wrap-footer {
    background-color: #3C3C3C;

}

.dark {
    background-color: #3C3C3C;
}

.blue {
    background-color: #477BB8;
}

.light-gray {
    background-color: #F5F5F5;
}

.footerblock > p,
.footerblock > ul > li > a{
    color: #DCDCDC;
}

.navmenu > li,
.navmenu > li > a {
    color: #DDD;
}

.dropdown-content,
.dropdown-content > li,
.dropdown-content > li > a{
    color: #3C3C3C;
    background-color: #FAFAFA;

}

ul.forums{
    background-color: #FAFAFA;
}

.header {
    color: #F5F5F5;
}

#site-search {
    border-color: rgba(0, 0, 0, 0.075);
}

#site-search input, #site-search button {
    background-color: transparent;
    color: #4C4C4C;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}