* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 400 10px/1.5 "Open Sans", Arial, Helvetica, sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

html {
    height: 100%;
}

h1 {
    font-size: 3.1em;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
}

h4 {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
}

h5 {
    font-size: 1.6em;
    font-weight: 400;
    margin: 0 0 20px;
}

p {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0 0 20px;
}

img {
    border-width: 0;
}

label {
    font-weight: 600;
    text-align: left;
    font-size: 1.5em;
}

#toTop {
    height: 100%;
    width: 100px;
    background: #00000052;
    text-align: center;
    padding: 5px;
    position: fixed; /* this is the magic */
    bottom: 0; /* together with this to put the div at the bottom*/
    right: 0;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
}

#toTop img {
    height: auto;
    text-align: center;
    vertical-align: middle;
    repeat: no-repeat;
    width: 50%;

}

#wrap-nav {
    clear: both;
    font-size: 1.1em;
    min-height: 45px;
    line-height: 45px;
}

#wrap-header {
    font-size: 1.3em;
    line-height: 90px;
}

#wrap-body {
    padding: 20px 0 20px;
    position: relative;
}

#sidebar {
    float: right;
    width: 250px;
}

#forumlist-inner {
    float: left;
    width: 100%;
}

#sidebar +
#forumlist {
    margin: 0 270px 0 0;
}

#site-search fieldset {
    font-size: 1em;
}

#wrap-footer {
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 100%;
}

#site-search input {
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1em;
    height: 40px;
    padding: 0 0 0 20px;
    width: 210px;
    float: left;
}

#site-search button {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: 40px;
}

#site-search {
    border-style: solid;
    border-width: 1px;
    display: block;
    float: right;
    margin: 24px 0;
    position: relative;
}

#site-logo {
    float: left;
    line-height: 86px;
    margin: 0 30px 0 0;
    min-height: 90px;
}

.footerblock > ul > li > a {
    font-size: 1.3em;
    line-height: 1.5;
    margin: 0 0 20px;
}

.inner {

    margin-top: 20px;
    margin-bottom: 20px;
}

.navmenu {
    margin: 0;
    padding: 0;
}

.chunk {
    clear: both;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}

.dropdown-container {
    position: relative;
    float: left;
}

.site-nav > li {
    display: block;
    float: left;
    margin: 0 20px 0 0;
}

.rightside {
    float: right;
    margin: 0 0 0 20px;
}

.row {
    min-height: 70px;
}

.inlinelist > li {
    display: inline-block;
}

.rowcontent {
    padding: 20px 0 20px 20px;
    margin-right: 30px;
    font-size: 1.3em;
}

.header {
    line-height: 60px;
    margin: 0 20px 0 20px;
    font-size: 1.3em;
}

.forumblock {
    margin-bottom: 20px;
    overflow: hidden;
}

.footerblock {
    float: left;
    width: 33.3333%;
}

.posts {
    margin-left: 50px;
}

.lastpost {
    float: right;
}

.lastpostpreview {
    float: left;
}

.dropdown-content {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 100;
    box-shadow: 0 0 2em #000;
}

fieldset {
    border-width: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    /*height: 40px;*/

}

.site-logo {
    background-image: url("img/logo.png");
    height: 17px;
    width: 79px;
}

.site-logo {
    display: inline-block;
    vertical-align: middle;
}

.buttons, .buttons .button {
    float: left;
}

.buttons {
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    display: inline-block;
    height: 33px;
    line-height: 31px;
    font-size: 12px;
    white-space: nowrap;
    border: 1px solid transparent;
    background: transparent none 0 0 repeat-x;
    padding: 0 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    position: relative;
    text-decoration: none !important;
    outline-style: none !important;
    vertical-align: bottom;
}

.post {
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}

.postprofile {
    margin: 0;
    min-height: 80px;
    width: 230px;
    float: right;
    font-size: 1.1em;
}

.postbody {
    padding: 0;
    line-height: 1.5em;
    float: none;
    margin-right: 250px;
    position: relative;
}

.posttitle {
    margin-top: 0 !important;
    margin-bottom: 0.3em !important;
    text-transform: none;
    border: none;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 125%;
}

.posttime {
    margin-bottom: 10px;
}

.postcontent {
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: justify;
    overflow-x: auto;
    min-height: 100px;
    overflow: hidden;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.userinfo {
    margin-bottom: 20px;
}

.userinfo > input {
    height: 33px;
    width: auto;
    margin-top: 5px;
}

.topicinfo {

}

.topicinfo > input {
    height: 33px;
    width: auto;
    margin-top: 5px;
}

.topicinfo > input.inputbox-message {
    height: 200px;
    width: 100%;
}

.panel {
    margin-bottom: 20px;
    padding: 20px;
}

fieldset {
    border-width: 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

fieldset.submit-buttons {
    text-align: center;
    vertical-align: middle;
}

fieldset dl {
    padding: 0 0 20px;
    font-size: 1em !important;
    float: left;
    clear: both;
}

fieldset dt {
    float: left;
    width: 40%;
    text-align: left;
    display: block;
    padding-top: 6.5px;
}

fieldset.fields2 dt {
    width: 15em;
}

fieldset dd {
    margin-left: 41%;
    vertical-align: top;
    line-height: 32px;
}

fieldset.fields2 dd {
    margin-left: 16em;
}

.autowidth {
    width: auto !important;
}

.inputbox {
    border: 1px solid transparent;
    height: 33px;
    padding: 0 20px;
    transition: border-color 0.1s ease-in-out;
}

a.button2, input.button2, input.button3 {
    border: 1px solid transparent;
}

a.button1, input.button1, input.button3, a.button2, input.button2 {
    width: auto !important;
    height: 33px;
    padding: 0 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

@media (max-width: 1000px) {
    #sidebar + #forumlist {
        margin: 0;
    }

    #forumlist-inner {
        width: 100%;
    }

    #sidebar {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .chunk {
        padding: 0 10px;
    }

    .footerblock {
        width: 100%;
    }

    .rowcontent > li.posts {
        display: none;
    }

    .inlinelist > li > a.site-menu-item1-inner {
        display: none;
    }

    .inlinelist > li.site-menu-item2 {
        display: none;
    }

    .inlinelist > li.site-menu-item3 {
        display: none;
    }

    .postprofile {
        float: left;
        width: 100%;
    }

    fieldset dt {
        padding-bottom: 6.5px;
    }

    .postbody {
        width: 100%;
    }

    fieldset dt, fieldset dd {
        clear: both;
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }

    .inputbox {
        width: 100% !important;
    }

    textarea{
        width: 100%;
    }
}

@media (max-width: 400px) {
    #site-logo {
        text-align: center;
        width: 100%;
    }

    #site-search {
        width: 100%;
    }

    .userinfo > input {
        width: 100%;
    }

    .topicinfo > input {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .rowcontent > li.lastpost {
        display: none;
    }
}